# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
# foundry
contracts/out/
contracts/cache/
contracts/broadcast/

# env
.env
.env.local

# node
node_modules/
**/node_modules/
.next/
**/.next/
dist/

# local data
backend/data/
*.db
*.db-shm
*.db-wal
