# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
# foundry
contracts/out/
contracts/cache/
contracts/broadcast/
contracts/lib/

# env
.env
.env.local
